body{
    margin: 1cm 3cm 1cm 3cm;
    background-color:beige;
    max-width: 1500px;
}

.content hr{
    color: #00336a;
    width: 100%;
}

.content h2{
    color: #00336a;
}

/*Persönliche Daten inputs*/
.content_info input[type="text"],
.content_info input[type="number"],
.content_info input[type="password"],
.content_info input[type="email"]{
    height: 35px;
    width: 100%;
    font-size: 17px;
    border: 3px solid #00336a;
    border-radius: 7px;
    margin: 2px 2px 10px 2px;
}

.content_info select{
    border: 3px solid #00336a;
    border-radius: 7px;
    font-size: 17px;
    min-width: 50%;
    height: 35px;
    margin: 2px 2px 10px 2px;
}

.content_info input[type="submit"]{
    height: 35px;
    width: max-content;
    border: 3px solid #00336a;
    border-radius: 7px;
    background-color: #00336a;
    color: white;
    font-size: 20px;
    margin: 10px 15px 10px 0;
}

.content_info input[type="submit"]:hover{
    color: #00336a;
    background-color: white;
    cursor: pointer;
}

.content_info_bottom{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.content_info_bottom a{
    text-decoration: underline;
    color: #00336a;
    font-size: 15px;
}

/* Chrome, Safari, Edge, Opera */
.content input::-webkit-outer-spin-button,
.content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.content input[type=number] {
  -moz-appearance: textfield;
}



@media screen and (min-width: 1px){
    body{
        margin: 1cm 0 1cm 0;
    }

    .content{
        margin: 15px 0 15px 0;
        width: 100%;
        font-family: 'SourceSansPro-Bold','SourceSansPro-Regular',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

        display: flex;
        flex-direction: column;
    }

    /*Persönliche Daten*/
    .content_info{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .content_info_top{
        display: flex;
        flex-direction: column;
    }

    .content_kaufe{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .tabelle_top, 
    .tabelle_content{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 10px 0 10px 0;
    }

    .tabelle_artikel{
        width: 50%;
        margin: 2px;
    }

    .tabelle_anzahl{
        width: 14%;
        margin: 2px;
    }

    .tabelle_stuckpreis{
        width: 18%;
        margin: 2px;
    }

    .tabelle_summe{
        width: 18%;
        margin: 2px;
    }

    #artikel{
        color: black;
        font-size: 13px;
        font-weight: bold;
    }

    #anzahl, #stuckzahl, #summe{
        color: black;
        font-size: 10px;
        font-weight: bold;
    }

    .tabelle_artikel{
        display: flex;
        flex-direction: row;
    }

    .tabelle_artikel img{
        max-height: 60px;
        margin: 0 10px 0 0;
    }

    /*.......Warenkorbartikel.......*/
    .artikelname{
        font-size: 12px;
        font-weight: bold;
    }

    .artikelbeschreibung{
        font-size: 10px;
    }

    .tabelle_anzahl select{
        border: 2px solid #00336a;
        border-radius: 3px;
        height: 30px;
        width: 40px;
    }

    .stuckpreis, .summe{
        font-size: 10px;
    }

}


@media screen and (min-width: 601px){
    body{
        margin: 1cm 1cm 1cm 1cm;
    }

    .content{
        margin: 15px 0 15px 0;
        width: 100%;
        font-family: 'SourceSansPro-Bold','SourceSansPro-Regular',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

        display: flex;
        flex-direction: column;
    }


/*Persönliche Daten*/
    .content_info{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .content_info_top{
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-between;
    }


/*Kaufübersicht*/
    .content_kaufe{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .tabelle_top, 
    .tabelle_content{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 10px 0 10px 0;
    }

    .tabelle_artikel{
        width: 50%;
        margin: 5px 10px 0 10px;
    }

    .tabelle_anzahl{
        width: 10%;
        margin: 5px 10px 5px 10px;
    }

    .tabelle_stuckpreis{
        width: 17%;
        margin: 5px 10px 5px 10px;
    }

    .tabelle_summe{
        width: 17%;
        margin: 5px 10px 5px 10px;
    }

    .tabelle_blank{
        width: 5%;
        margin: 5px 0 5px 10px;
    }

    #artikel{
        color: black;
        font-size: 15px;
        font-weight: bold;
    }

    #anzahl, #stuckzahl, #summe{
        color: black;
        font-size: 13px;
        font-weight: bold;
    }

    .tabelle_artikel{
        display: flex;
        flex-direction: row;
    }

    .tabelle_artikel img{
        max-height: 100px;
        margin: 0 10px 0 0;
    }

    /*.......Warenkorbartikel.......*/
    .artikelname{
        font-size: 20px;
        font-weight: bold;
    }

    .artikelbeschreibung{
        font-size: 15px;
    }

    .tabelle_anzahl select{
        border: 2px solid #00336a;
        border-radius: 3px;
        height: 40px;
        width: 50px;
    }

    .stuckpreis, .summe{
        font-size: 20px;
    }

}


@media screen and (min-width: 1101px){
    body{
        margin: 1cm 3cm 1cm 3cm;
        background-color: beige;
        max-width: 1300px;
    }

/*Persönliche Infos*/
    .content_info_top{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;
    }



    /*Der Käufe Teil ist wie oben @601px*/
    

}





