
body{
    margin: 1cm 3cm 1cm 3cm;
    background-color:beige;
    max-width: 1500px;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* INPUTS */
.content input[type="text"],
.content input[type="month"],
.content input[type="number"]{
    height: 35px;
    min-width: 310px;
    font-size: 17px;
    border: 3px solid #00336a;
    border-radius: 7px;
    margin: 2px 2px 10px 2px;
}

.content input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin: 2px 2px 10px 2px;
}

.content input[type="submit"]{
    width: 320px;
    height: 38px;
    background-color: #00336a;
    color: white;

    border: 3px solid #00336a;
    border-radius: 7px;
    font-size: 17px;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

.content input[type="submit"]:hover{
    color: #00336a;
    background-color: white;
}

/* Chrome, Safari, Edge, Opera */
.content input::-webkit-outer-spin-button,
.content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.content input[type=number] {
  -moz-appearance: textfield;
}

#Auf_Rechnung span{
    line-height: 2;
    font-size: 18px;
}

.content hr{
    color: #00336a;
}


@media screen and (min-width: 1px){
    body{
        margin: 1cm 0 1cm 0;
    }

    .content{
        margin: 15px 0 15px 0;
        width: 100%;
        font-family: 'SourceSansPro-Bold','SourceSansPro-Regular',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

        display: flex;
        flex-direction: column;
    }

}


@media screen and (min-width: 601px){
    body{
        margin: 1cm 1cm 1cm 1cm;
    }

    .content{
        margin: 15px 0 15px 0;
        width: 100%;
        font-family: 'SourceSansPro-Bold','SourceSansPro-Regular',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

        display: flex;
        flex-direction: column;
    }

}



@media screen and (min-width: 1101px){
    body{
        margin: 1cm 3cm 1cm 3cm;
        background-color: beige;
        max-width: 1300px;
    }

    /*Der Rest wie @media min-wdith: 601px*/

}

